<div class="container mt-5">
    <h2>Formulario de Producto</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Name -->
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>
    
        <!-- Summary -->
        <div class="mb-3">
            <label for="summary" class="form-label">Resumen</label>
            <textarea class="form-control" id="summary" formControlName="summary" rows="3" required></textarea>
        </div>
    
        <!-- URL -->
        <div class="mb-3">
            <label for="url" class="form-label">URL</label>
            <input type="url" class="form-control" id="url" formControlName="url" required>
        </div>
    
        <!-- Materials -->
        <div class="mb-3">
            <label for="materials" class="form-label">Materiales</label>
            <textarea class="form-control" id="materials" formControlName="materials" rows="3" required></textarea>
        </div>
    
        <!-- CrueltyFree -->
        <div class="mb-3">
            <label class="form-label">No probado en animales</label>
            <div>
                <label class="form-check-label me-3">
                    <input type="radio" class="form-check-input" formControlName="crueltyFree" value="1" required> Sí
                </label>
                <label class="form-check-label me-3">
                    <input type="radio" class="form-check-input" formControlName="crueltyFree" value="0" required> No
                </label>
                <label class="form-check-label me-3">
                    <input type="radio" class="form-check-input" formControlName="crueltyFree" value="null" required> No se sabe
                </label>
            </div>
        </div>
    
        <!-- Vegan -->
        <div class="mb-3">
            <label class="form-label">Vegano</label>
            <div>
                <label class="form-check-label me-3">
                    <input type="radio" class="form-check-input" formControlName="vegan" value="1" required> Sí
                </label>
                <label class="form-check-label me-3">
                    <input type="radio" class="form-check-input" formControlName="vegan" value="0" required> No
                </label>
                <label class="form-check-label me-3">
                    <input type="radio" class="form-check-input" formControlName="vegan" value="null" required> No se sabe
                </label>
            </div>
        </div>
    
        <!-- Commitment -->
        <div class="mb-3">
            <label for="commitment" class="form-label">Compromiso</label>
            <textarea class="form-control" id="commitment" formControlName="commitment" rows="3" required></textarea>
        </div>
    
        <!-- Production -->
        <div class="mb-3">
            <label for="production" class="form-label">Producción</label>
            <textarea class="form-control" id="production" formControlName="production" rows="3" required></textarea>
        </div>

        <!-- Selección de categorías y subcategorías -->
        <div class="mb-3">
            <div class="mb-3">
                <label class="form-label" for="category">Category:</label>
                <div class="d-flex">
                    <select class="form-select" id="category" [formControl]="categoryControl" (change)="onCategoryChange($event)">
                        <option *ngFor="let cat of categories" [value]="cat.name">{{ cat.name }}</option>
                    </select>
                </div>
            </div>
    
            <div *ngIf="currentSubcategories && currentSubcategories.length > 0" class="mb-3">
                <label class="form-label">Subcategories:</label>
                <div *ngFor="let subcat of currentSubcategories">
                  <input
                    type="checkbox"
                    [value]="subcat"
                    [checked]="subcategoryControl.value?.includes(subcat)"
                    (change)="onSubcategoryChange($event)"
                  >
                  {{ subcat }}
                </div>
            </div>
    
            <button type="button" class="btn btn-secondary mt-2" (click)="addCategory()">Add Category</button>
        </div>

        <!-- Listado de categorías seleccionadas -->
        <div class="mb-3">
            <label class="form-label" for="selected">Categorías seleccionadas:</label>
            <ul style="list-style-type: none">
                <li *ngFor="let cat of categoriesArray.controls; let i = index" class="mt-2">
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeCategory(i)">X</button>
                    {{ cat.value.name }} 
                    <span *ngIf="cat.value.subcategories && cat.value.subcategories.length > 0">- {{ cat.value.subcategories }}</span>
                </li>
            </ul>
        </div>

        <!-- Labels -->
        <div class="mb-3">
            <label for="labels" class="form-label">Etiquetas</label>
            <div class="d-flex" formGroupName="labels">
              <div *ngFor="let label of labels" class="form-check me-3">
                <input 
                  type="checkbox" 
                  class="form-check-input" 
                  [id]="label" 
                  [formControlName]="label">
                <label class="form-check-label" [for]="label">
                  {{ label }}
                </label>
              </div>
            </div>
        </div>

        <!-- Consumer -->
        <div class="mb-3">
            <label for="consumers" class="form-label">Consumidores</label>
            <div class="d-flex">
                <div *ngFor="let consumer of consumers" class="form-check me-3">
                    <input 
                        type="checkbox" 
                        class="form-check-input" 
                        [id]="consumer" 
                        [value]="consumer">
                    <label class="form-check-label" [for]="consumer">
                        {{ consumer }}
                    </label>
                </div>
            </div>
        </div>

        <!-- Price -->
        <div class="mb-3">
            <label class="form-label ">Price</label>
            <div class="d-flex">
                <div *ngFor="let price of prices" class="form-check me-3">
                    <label class="form-check-label me-3">
                        <input 
                        type="radio" 
                        class="form-check-input" 
                        formControlName="price" 
                        [value]="price">
                        {{ price }}
                    </label>
                </div>
            </div>
        </div>

        <!-- Autonomous community -->
        <div class="mb-3">
            <label for="autonomousCommunities" class="form-label">Comunidad Autónoma</label>
            <div class="d-flex">
                <select class="form-select" id="autonomousCommunity" name="autonomousCommunity" required>
                    <option value="">Seleccione una Comunidad Autónoma</option>
                    <option 
                    *ngFor="let autonomousCommunity of autonomousCommunities" [value]="autonomousCommunity">
                    {{ autonomousCommunity | titlecase }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Province -->
        <div class="mb-3">
            <label for="province" class="form-label">Provincia</label>
            <div class="d-flex">
                <select class="form-select" id="province" name="province" required>
                    <option value="">Seleccione una Provincia</option>
                    <option 
                    *ngFor="let province of provinces" [value]="province">
                    {{ province | titlecase }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Location -->
        <div class="mb-3">
            <label for="location" class="form-label">Localización</label>
            <input type="text" class="form-control" id="location" name="location" required>
        </div>


      <!-- Submit button -->
      <button type="submit" class="btn btn-primary mt-2">Añadir</button>
    </form>
</div>
  