<div class="container mt-4">
  <div class="row">
    <div class="col-md-2">
      <app-filters *ngIf="filtersLoaded"
        [categoryApplied]="categoryApplied"
        [filters]="filters" 
        (onChange)="filterChange($event)"
        (onSubcategoryChange)="subcategoryChange($event)">
      </app-filters>
    </div>

    <div class="col-md-8">
      <app-brands-list 
        [brandsList]="brandsList" 
        (onBrandDetails)="brandDetails($event)">
      </app-brands-list>
    </div>
  </div>
</div>
