<div class="container mt-4" style="padding-bottom: 40px;">
  <div class="route">
    <nav aria-label="breadcrumb" *ngIf="categoryApplied">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/brands" class="vtmn-block">TODAS</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/brands', categoryApplied.name]" class="vtmn-block">{{ categoryApplied.name }}</a>
        </li>
        <li class="breadcrumb-item" *ngIf="categoryApplied.subcategories && categoryApplied.subcategories.length > 0">
          <a [routerLink]="['/brands', categoryApplied.name, categoryApplied.subcategories[0]]" class="vtmn-block">{{ categoryApplied.subcategories[0] }}</a>
        </li>
      </ol>
    </nav>
  </div>


  <div class="row" *ngIf="isLoading" >
    <div class="col-md-3">
      <div class="skeleton skeleton-filters"></div>
    </div>

    <div class="col-md-8"  style="margin-left: auto; margin-right: auto;">
      <div class="skeleton-brands">
        <div *ngFor="let _ of [].constructor(20)" class="brand-item">
          <div class="card skeleton">
            <div class="card-body">
              <h5 class="card-title"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!isLoading">
    <div class="col-md-3">
      <app-filters
        [filters]="filters" 
        (onChange)="filterChange($event)">
      </app-filters>
    </div>

    <div class="col-md-8"  style="margin-left: auto; margin-right: auto;">
      <app-brands-list *ngIf="!isLoading"
        [brandsList]="brandsList" 
        (onBrandDetails)="brandDetails($event)">
      </app-brands-list>
    </div>
  </div>
</div>
