
<header>
  <app-main-menu *ngIf = "allCategories.length> 0"
    (onOtherClicked)="otherClicked($event)"
    (onCategoryClicked)="categoryClicked($event)"
    (onSubcategoryClicked)="subcategoryClicked($event)"
    [categories]="allCategories">
  </app-main-menu>
  <div class="links">
    <a class="nav-link title" routerLink="/home">TierraLocal</a>
    <a class="nav-link dashboard" routerLink="/admin">Dashboard</a>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="bg-dark text-white text-center py-4">
  <p class="mb-0">&copy; 2024 Paloma Balmori Elósegui.</p>
</footer>