<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/brands" routerLinkActive="active fw-bold">Ver todas las marcas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="d-flex flex-column">
    <app-categories-menu *ngIf="allCategories.length > 0" 
    [categories]="allCategories">
    </app-categories-menu>

    <app-map class="flex-grow-1" *ngIf="provinces.length > 0" 
      [provinces]="provinces"
      (onProvince)="provinceClicked($event)"></app-map>
  
    <div class="col-md-4 d-flex flex-column" style="overflow-y: auto; height: 100%;">
      <app-brands-list 
        *ngIf="brandsList.length > 0" 
        [brandsList]="brandsList" 
        (onBrandDetails)="brandDetails($event)">
      </app-brands-list>
    </div>
  </div>
  
  <router-outlet></router-outlet>
</main>
