@import url('https://fonts.googleapis.com/css2?&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap')

$primary-color: #78b395
$secondary-color: #917c67
$light-background: #ebe7a7
$dark-background: #5e5953
$primary-text:rgb(0, 0, 0)
$secondary-text: #7f8c8d
$link-color: #a7ebc9
$error-color: #e74c3c

$font-family: "Roboto", sans-serif
$font-title: "Arima"

html, body 
  height: 100%
  margin: 0

app-root 
  display: flex
  flex-direction: column
  min-height: 101vh